@import "tailwindcss";

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 64px; /* высота вашей шапки */
}

body {
  @apply bg-white text-slate-900 antialiased;
  -webkit-tap-highlight-color: transparent;
}

img,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

:focus-visible {
  outline: 2px solid rgb(16 185 129);
  outline-offset: 2px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* чтобы не перекрывали другие элементы */
  background-color: #fff; /* или любой фон */
}
